<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/auth.css">
  <title>Authorization</title>
 </head>
 <body>
    <form class="authForm" action="#" method="post">
        <div>
            <input type="text" id="log" placeholder="Your Login">
        </div>
        <div>
            <input type="text" id="log" placeholder="Your Password">
        </div>
        <input type="submit" value="Send" name="submit_btn" id="sendBtn">
    </form>
 </body>
</html>