<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <%- include('./parts/nav.ejs') %>
  <body class="home">
    <h1>Personal Blog</h1>
    <p>Build with Node.js Express, EJS, MongoDB</p>
  </body>
</html>
