body {
    background: linear-gradient(90deg, rgba(50, 50, 50, 1) 0%, rgba(100, 100, 100, 1) 40%, rgba(50, 50, 50, 1) 100%);
}

.authForm {
    text-align: center;
    margin-top: 10%;
}

#log {
    padding: 1% 2%;
    margin: 1%;
}

#sendBtn {
    padding: 0.5rem 2rem;
    font-size: 18px;
}